
.form-floating {
	position: relative;
}

.form-control:invalid {
	border-color: red;
}

/* Affichage des inputs. */
.form-control:invalid:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.3);
}

/* Affichage des message d'erreurs pour les inputs non-valides */
.form-msg-error {
	display: none;
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	z-index: 1;
	width: 100%;
	padding-left: 10px;

	color: red;
}

.form-control:invalid + .form-msg-error {
	display: block;
}

.list-group {
	position: absolute;
	z-index: 100;
}