
.form-floating {
	position: relative;
}

.form-control:invalid {
	border-color: red;
}

/* Affichage des inputs. */
.form-control:invalid:focus {
	box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.3);
}

/* Affichage des message d'erreurs pour les inputs non-valides */
.form-msg-error {
	display: none;
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	z-index: 1;
	width: 100%;
	padding-left: 10px;

	color: red;
}

.form-control:invalid + .form-msg-error {
	display: block;
}

.list-group {
	position: absolute;
	z-index: 100;
}

.table-diagnostic td {
	text-align: center;
}

.table-diagnostic th {
	font-weight: normal;
}

/* Conteneur des infos des pages "view" */
.form-sheet {
	background-color: #0000000a;
	padding: 1rem;
	margin: 0 0 1rem 0;
	box-shadow: 0 0 0.5rem #0004;
	border-radius: 1rem;
}

.form-sheet .info {
	margin: 0 0 0.5rem 0;
}

.form-sheet h2 {
	text-align: center;
	margin-bottom: 0.5rem;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #0004;
	padding-bottom: 0.5rem;
}

.form-sheet h3 {
	font-weight: normal;
	font-style: italic;
}

.form-sheet .description {
	background-color: #0000000a;
	text-align: justify;
	padding: 0.25rem 0.75rem;
	font-weight: 390;
	line-height: 1.25;
}

.no-data {
	color: #21252980;
	font-style: italic;
}
