
td {
	vertical-align: middle;
}

.table-no-padding td {
	padding: 0;
}

.table-no-padding th {
	padding: 4px;
}

/* Tableau scrollable */
.table-scroll {
  max-height: 600px;
  overflow-y: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #0006;
	margin-bottom: 1rem;
}

.table-scroll > table {
	margin: 0;
}

/* Mise en forme pour une information vide */
.no-data {
	color: #21252980;
	font-style: italic;
}
