
td {
	vertical-align: middle;
}

/* Icone de validation */
.bi-check-circle-fill::before {
	color: #070;
	font-size: 24px;
}

/* Icone de danger */
.bi-exclamation-diamond-fill::before {
	color: #c70;
	font-size: 24px;
}

.table-no-padding td {
	padding: 0;
}

.table-no-padding th {
	padding: 4px;
}

/* Tableau scrollable */
.table-scroll {
  height: 600px;
  overflow-y: scroll;
}

/* Liste pour l'autocompletion */
.autocompletion {
	max-height: 400px;
	overflow-y: auto;
	background-color: white;
	border-color: #0004;
	border-width: 1px;
	border-style: solid;
}

@media screen and (max-width: 900px) {
	.autocompletion {
		max-height: 200px;
	}
}