.scrollbar_index{
  height: 600px;
  overflow-y: scroll;
}

.scrollbar_view{
  height: 300px;
  overflow-y: scroll;
}


.table.sticky th{
  position: sticky;
  top: 0;
  background: white;
}

.table.sticky td{
  background: white;
}
