/* Contient des classes de mise en forme très simple */

.opacity-50 {
	opacity: 0.5;
}

.indent-1 {
	text-indent: 1em;
}

.paragraph {
	text-indent: 2rem;
	text-align: justify;
}

.text-justify {
	text-align: justify;
}

.padding-0 {
	padding: 0;
}

.div-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
