/* Mise en forme pour la page des résultats. */
.btn-fold {
	width: 40px;
	background-image: url("/public/assets/img/icon/arrow-right-low.png");
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 50%, 50%;
	cursor: pointer;
	/* background-color: #fff0;
	border-style: none; */
}

/* #region Sous-table */
.table-child-parent {
	border-color: black;
	border-width: 1px;
	padding: 0;
}

.table-child {
	background-color: #f4f4f4;
	margin: 0;
}
/* #endregion */

/* #region Icônes */
/* Icone de validation */
.bi-check-circle-fill::before {
	color: #070;
	font-size: 24px;
}

/* Icone de danger */
.bi-exclamation-diamond-fill::before {
	color: #c70;
	font-size: 24px;
}
/* #endregion */