
/* Conteneur des infos des pages "view" */
.view-sheet {
	background-color: #0000000a;
	padding: 1rem;
	margin: 0 0 1rem 0;
	box-shadow: 0 0 0.5rem #0004;
	border-radius: 1rem;
}

/* Chaque infos */
.view-sheet .info {
	margin: 0 0 0.5rem 0;
}

/* Grand titre */
.view-sheet h2 {
	text-align: center;
	margin-bottom: 0.5rem;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #0004;
	padding-bottom: 0.5rem;
}

/* Sous-titre */
.view-sheet h3 {
	font-weight: normal;
	font-style: italic;
}

/* Pour les commentaires/descriptions */
.view-sheet .description {
	background-color: #0000000a;
	text-align: justify;
	padding: 0.25rem 0.75rem;
	font-weight: 390;
	line-height: 1.25;
}

/* Ne reprend que la forme de .view-sheet */
.view-sheet-shape {
	position: relative;
	overflow: hidden;
	
	background-color: #0000000a;
	margin: 0 0 1rem 0;
	box-shadow: 0 0 0.5rem #0004;
	border-radius: 1rem;
}

.map-overlay {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #0008;

	transition-duration: 1s;
}

.map-overlay > p {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);

	font-size: 2rem;
	color: white;
}

.link-list {
	overflow-x: auto;
}

.link-list > li {
	line-height: 1.2;
	margin-bottom: 0.25rem;
}